<h1>Edit your user particulars!</h1>

<form method="post" action="/users/<%= current_user.id %>">
	<input type="hidden" name="_method" value="put">
	<input type="text" name="user[name]" value="<%= current_user.name %>">
	<br>
	<input type="text" name="user[email]" value="<%= current_user.email %>">
	<br>
	<input type="text" name="user[password]" value="<%= current_user.password%>" placeholder="edit or confirm password">
	<input type="submit" value="submit">
</form>
